[2020-05-17 13:29] phenax opened #1 "Add center-master layout"
[code]

[2020-05-17 13:32] phenax opened #2 "Add grid layout"
[code]

[2020-06-14 14:40] tamis-laan opened #3 "Master window size %?"
Is it possible to set the default size of the master window? Now the master window is just 50% of the space, I would like it to be something lime 65%.
I'm using `bsp-layout set wide I` and `bsp-layout set tall II`.

[2020-06-14 15:10] phenax commented on #3
You can configure the layout ratio in a `~/.config/bsp-layout/layoutrc` file.
You can find an example for this in this repos `example.layoutrc`

[code]

Thank you @tamis-laan for pointing this out. I'll add document this in the README soon

[2020-06-14 15:14] tamis-laan commented on #3
nice! I wil take a look, however is it not a bit overkill to have a rc file? Why not add it to the command it self? I use those commands in my bspwmrc file and it would be nicer to keep al my configurations in that file.

[2020-06-14 15:24] phenax commented on #3
Makes sense. Initially I was avoiding having any complications with maintaining cli arguments for internal stuff. But this does seem like a case for command line arguments.

[2020-06-14 17:25] phenax opened #4 "Cli arguements for providing layout configuration options"
Currently the config is being sourced from `~/.config/bsp-layout/layoutrc` file. Need to move the config options out to cli arguments to the `set` command.

[2020-06-14 17:26] phenax commented on #3
Closing this issue. I have opened a new issue for cli arguments #4

[2020-06-14 17:26] #3 closed

[2020-06-27 14:35] internet-police opened #5 "window focus"
hello
when i am in tall layout and open a bunch of windows
and then close the windows,
as soon as i have just 3 windows open,
bspwm freaks out completely and shifts focus between the windows at maximum speed forever

also when i run
bsp-layout once tiled, the currently open windows are not effected by this, only new windows open tiled
bsp-layout set tiled gives me an error and says tilded layout d

[2020-06-28 02:02] #5 closed

[2020-07-04 20:10] Tragyn opened #6 "Option to reverse layouts"
What are the chances we could have reverse layouts? For example, with the tall layout, I'd like to have the master on the right and the stack on the left. Is that easy to implement?

[2020-07-06 17:16] pjvds commented on #1
@phenax do you have some pointers for this? I would love to provide help by giving it a try to implement.

[2020-07-06 17:22] phenax commented on #1
@pjvds, sure!
The stuff I've tried so far with this layout is the normal way, one shot rules and preselection. Using preselection was the most success I had but still not close to completion. Let me know if you need any help!

[2020-07-06 20:54] pjvds commented on #1
Thanks for the fast reply. Would you mind pushing your attempts to a branch? So I can continue from there?

[2020-07-06 22:26] phenax commented on #1
Lost the changes unfortunately. I have the direction I was taking in `feature/centered` branch.

[2020-07-30 20:41] Urimu opened #7 "The config doesn't get sourced"
I installed the AUR package and `layoutrc`, doesn't get sourced. Windows always split 50/50.

*I have now tried to install it with the install script provided in the readme. Loged out of bspwm and back in, same result.

[2020-07-31 09:01] itmecho opened #8 "Master shrinks right down to minimum size after applying tall layout to desktop"
I have the following in my `bspwmrc` to set the tall layout on my terminal desktop. For some reason, whenever I get a notification pop up or something like `pinentry` for `gpg-agent`, the master node's width shrinks right down. Maybe there's a setting I'm missing for floating windows that's interfering?

[code]

[2020-07-31 10:24] phenax commented on #7
Can you check if your system has `bc` installed? It is a dependency to the script. I should've mentioned it in the README.

[2020-07-31 10:45] phenax commented on #7
@Urimu, turns out it was something else. I fixed the issue in master. Can you install it again with the install script?

[2020-07-31 11:25] phenax commented on #4
This feature has been implemented in master.

[code]

[2020-07-31 11:25] phenax commented on #3
@tamis-laan This feature has been implemented in master.

[code]

[2020-07-31 11:28] #4 closed

[2020-07-31 11:43] #6 closed

[2020-07-31 11:43] phenax commented on #6
Sorry for the late response. The feature has been implemented in master.

[2020-07-31 11:44] phenax commented on #7
I'm closing this issue. Feel free to re-open it if the fix doesn't work

[2020-07-31 11:44] #7 closed

[2020-07-31 12:04] Urimu commented on #7
@phenax That was quick! It's working now. Thank you!

[2020-08-03 15:26] useredsa commented on #8
In my case, I realized I had this problem because I forgot to install `bc`.

[2020-08-04 10:23] itmecho commented on #8
Oh nice, I think that's fixed it! Should've read the README properly...

[2020-08-04 10:23] #8 closed

[2020-09-02 16:18] Cyberdr3am opened #10 "New window never go on master"
Hi

Thanks for making this app.
I would like to know if it would be possible to make the new windows take the place of the master automatically.
Currently the window i use remain in master while the new is always on the right (with the tall layout)

[2020-09-02 16:29] phenax commented on #10
This behaviour was implemented intentionally for my personal workfow. I'll try to implement a configuring spawning behavior.

[2020-09-02 16:36] Cyberdr3am commented on #10
Ok thanks a lot.

[2020-09-03 16:10] Cyberdr3am commented on #10
If it's too complicated can you tell me how to do it definitively.
I tried to do it by myself but I couldn't do it because I don't know bspwm well

[2020-09-03 17:12] phenax commented on #10
It is a bit tricky. I've got it to replace master if the node was spawned when focusing on master but for other nodes it is a bit more complicated. I'll try to spend some time this weekend with it and I'll let you know.

[2020-09-04 08:19] Cyberdr3am commented on #10
Ok thanks

[2020-10-27 16:16] paum3 opened #11 "Monitor select"
Hi, thank you for all this effort.
I assume, it is possible to add a monitor choice not only desktop.
How could one achieve this ?
thank you

paum

[2020-10-27 16:48] phenax commented on #11
@paum3, There is no way currently in the script to set a layout specific to a monitor.
I think you should set the layout on the desktops that you configure to be on the monitor. If your use-case is to only do that when a monitor exists, you could use the output of `xrandr --listmonitors` to check if your monitor is connected and set the layouts accordingly.

Example: If you keep 8, 9, 10 on your s

[2020-11-02 14:03] paum3 commented on #11
@phenax , Thank you for your suggestion. I have a strange behaviour. It depends whenever I am changing layout on my current focused desktop or not.
If on focused, the choosen layout changes immediately. If I am changing layout on the other desktop I am currently in, the change takes effect only, if I go to the desired desktop and add a new window manually - in this moment the windows are rearrangi

[2020-11-02 14:42] phenax commented on #11
Yes. That is currently how it works. So the layout scripts re-arrange the current desktop and the process that manages the layout, decides whether it needs to be re-arranged or not. This was just the simpler way to do it.
If you are having any issues with the current behavior, you should create an issue. I'll try to spend some time on it.

[2020-11-02 15:22] paum3 commented on #11
Thank your @phenax for fast response. I don't want to waste your time, but it will be really good for my situation for me, if it could behave like like that, so I am filling an issue and you will see if you will have time. Thank you anyway.

[2020-11-02 15:32] phenax commented on #11
No problem buddy. Im closing this issue.

[2020-11-02 15:32] #11 closed

[2020-11-02 15:38] paum3 opened #12 "Re-arranging (not current) desktop"
I would love, if bsp-layout could re-arrange not only current focused desktop.

Current behaviour is, that if I change layout on other than focused desktop, the new layout is applying only, if I focus to this desktop and create a new window there.

thank you

[2020-11-10 23:21] rjhilgefort opened #13 "How To Cycle Through List Of Layouts?"
I'm looking to do something similar to `bspc desktop -l next`, but with the layouts that this package provides. Is this possible?

[2020-11-11 00:39] rjhilgefort commented on #13
Sorry for the beginner question, I'm new to `bspwm`/`sxhkd` and still learning some of the tricks, I got this figured out like this if anyone is curious:

[code]

[2020-11-11 00:39] #13 closed

[2020-11-11 07:19] phenax commented on #13
Thank you for creating this issue. Glad to see you found a workaround for it. I have implemented this feature in a pr now. After some testing it will be available in master and the aur.

[2020-11-11 18:21] rjhilgefort commented on #13
Great! Thanks!

[2020-11-11 18:25] rjhilgefort commented on #2
I would really love to see this. I know we have `even`, but in my experience, it doesn't change anything from the normal `tile` layout. Is there anything I can do to help? (I'm pretty new to bspwm, but I'm happy to give some time if it would be of use)

[2020-11-14 14:44] phenax commented on #2
@rjhilgefort currently Im unable to make time for this but let me know if you want to give this a shot.

[2020-11-14 16:21] rjhilgefort commented on #2
I'd like to give it a shot, but I'm afraid I'm still a little too new to `bspwm`. I'll poke around the source code here though and see if I can find some inspiration or leads on what to do to solve this.

Alternatively, I did find a solution elsewhere that mostly works (sometimes doesn't balance in a grid, but does about 90% of the times). If you think this solution is on the right path, I can loo

[2020-11-14 19:30] phenax commented on #2
That looks good. You can try it out by placing it in the `src/layouts` directory. To install the changes, run `sudo ./install.sh local`.

[2020-11-19 05:10] rsmith31415 opened #15 "Set the master size for layouts in `bsp-layout once`"
HI @phenax,

Excellent project :-)

I found that it is not currently possible to set the master size for `bsp-layout once`. For example, the following command ignores `--master-size`:

[code]

Here you can see an example of this behavior. In the first part of this demo, `bsp-layout set tall -- --master-size 0.3` is executed (which works correctly) and then successive values of master-size for `bsp

[2020-11-19 05:28] rsmith31415 opened #16 "Inconsistencies when changing layouts"
Hi @phenax

I noticed small inconsistencies when moving from one layout to the next.

In the following screencast, `bsp-layout once wide` runs as usual, but then changing the layout to `rtall` leads to unexpected results and finally, running `bsp-layout once rtall`again fixes the layout.

![screencast-changing-layouts](https://user-images.githubusercontent.com/599274/99624986-d8bdab80-29f4-11eb-96

[2020-11-19 07:09] phenax commented on #15
Thank you for reporting this! I've fixed this bug in master. Can you test it out?

[2020-11-19 08:17] phenax commented on #16
This bug has been fixed in master. Let me know if the issue persists.

[2020-11-19 08:18] phenax commented on #13
This  feature has been merged to master. Feel free to test it out. Not available in aur yet.

[2020-11-19 08:45] phenax commented on #2
I've created a pr for grid layout with the solution you linked me to. It seems to be too buggy to push righ away tho. I'll work on it some more and let you know. In the meanwhile, you can checkout that branch and test it out.

[2020-11-19 10:13] phenax opened #18 "[Doc] Create a manpage for docs"

[2020-11-19 15:12] rjhilgefort commented on #2
awesome! I had it on my todo list to do this weekend, I'll check out your branch and try it out. Thanks!

[2020-11-19 15:14] rjhilgefort commented on #13
Nice, thanks!

[2020-11-19 18:40] rsmith31415 commented on #15
I can confirm this issue has been fixed. Thank you!

[2020-11-19 18:42] #15 closed

[2020-11-19 18:51] rsmith31415 commented on #16
I believe this issue has been fixed when cycling through layouts using `bsp-layout set`, but it hasn't been fixed with `bsp-layout once`. Can you confirm that the issue persists after executing `bsp-layout once wide -- --master-size 0.5` and then `bsp-layout once rtall -- --master-size 0.5`?

Thanks!

[2020-11-19 19:01] phenax commented on #16
@phenax, I've pushed a change. Can you verify?

[2020-11-19 19:49] rsmith31415 commented on #16
It is has been fixed now :+1:

Thank you!

[2020-11-19 19:55] #16 closed

[2020-11-19 21:15] #18 closed

[2020-11-19 23:26] rsmith31415 opened #19 "Conflict with option `automatic_scheme longest_side` triggers a loop"
Hi again @phenax

I upgraded to the latest version 0.0.4 and found a conflict when the option `bspc config automatic_scheme longest_side` (which is the default) is changed to `bspc config automatic_scheme spiral`.

In the following screencast, you can see a loop in the layouts only after changing to `automatic_scheme spiral`. It doesn't really matter the initial polarity (e.g. `bspc config initial

[2020-11-20 08:16] phenax commented on #19
Thank you for reporting this. Seems like bspwm is doing something weird for the spiral scheme. The `grid` layout branch ( #17 ) fixes the infinite loop issue but the 3rd node gets placed incorrectly. It gets corrected on adding or removing a node. I'll try to debug it.

[2020-11-20 08:48] phenax commented on #19
I've fixed the issue in the grid branch by temporarily setting the automatic_scheme to `alternate` while applying the layout and then resetting it afterwards. You can test it out and let me know.

[2020-11-20 10:15] rsmith31415 commented on #19
Hi @phenax

Not sure if there is something wrong with the installation, but I still get more or less the same kind of loop. I switched to the branch `feature/grid` and then ran `sudo ./install.sh`. I also confirmed that `/src` contains your recent changes, but this is the current behavior:

![screencast-automatic-scheme-conflict_2](https://user-images.githubusercontent.com/599274/99788310-907eb600

[2020-11-20 10:16] phenax commented on #19
You'll have to run `sudo ./install.sh local` for installing from a cloned repo

[2020-11-20 10:38] rsmith31415 commented on #19
I just tested in a couple of environments and works perfectly! :+1:

By the way, I noticed the layout is not correct when there are floating nodes, but I think that is a completely different issue, right?

[2020-11-20 10:53] phenax commented on #19
Yes. Floating windows are a bit of a pain to handle. If you can create an issue describing the case where it breaks, I'd really appretiate it!

[2020-11-20 10:53] #19 closed

[2020-11-20 18:12] rsmith31415 opened #20 "Incorrect layouts with floating nodes"
Hi @phenax

This is a very minimal demo in which floating nodes cause issues in the final layout.

![screencast-layout-floating-nodes](https://user-images.githubusercontent.com/599274/99833472-a82a5e80-2b27-11eb-8a1f-39e2d418838e.gif)

The steps are very simple:

1. Add 4 new windows
2. Float the last one
3. Execute `bsp-layout once tall -- --master-size 0.5` and `bsp-layout once rtall -- --master

[2020-11-21 23:15] rjhilgefort opened #21 "Latest install fails on Arch: `bsp-layout not found`"
Since the latest release, it seems that I can't install `bsp-layout` any longer or use it. Something I'm doing wrong?

![image](https://user-images.githubusercontent.com/2034823/99889700-ee112080-2c14-11eb-87a2-6a71bb1239f8.png)

[2020-11-21 23:29] rjhilgefort commented on #21
I tried to remove it and then install again, same result.

[2020-11-22 05:57] phenax commented on #21
Can you try clearing the package cache? If you know where `pacmac` stores its cache (Try `~/.cache/pacman`), I'd suggest looking for `bsp-layout` and removing it. Alternatively, `pamac clean` will clean all cached packages.

[2020-11-22 06:11] #2 closed

[2020-11-23 01:20] rjhilgefort commented on #21
I ran `pamac clean` and then tried to reinstall- same result.

[2020-11-23 18:03] cheerio-pixel commented on #21
Got the same problem

[2020-11-24 04:25] phenax commented on #21
I've added a `bsp-layout-git` package to AUR which should work for now. I'm not entirely sure about the whats causing this issue as the installation script works. Even `makepkg -si` on the `aur` branch would install the package correctly but installing it through a package manager doesn't. I'll work on this and update this issue soon.

[2020-11-24 14:28] rjhilgefort commented on #21
@phenax thank you and thanks for the upkeep on this package!

[2020-11-25 12:14] cheerio-pixel commented on #21
What's the difference between one and another, because it didn'd work for me but building from `./install.sh`did. I think you are correct, the problem is with the aur helper.

[2020-11-25 12:24] phenax commented on #21
`bsp-layout` package installs the last release. `bsp-layout-git` installs the master branch via the curl command in the readme. I'll look into the problem when I get the time. I'd suggest when this issue is resolved, you use the `bsp-layout` package as that would be more stable.

[2020-11-25 16:54] phenax commented on #21
@cheerio-pixel, @rjhilgefort. I published version 0.0.5 for `bsp-layout`. Can you verify if the issue is resolved?

[2020-11-27 01:44] cheerio-pixel commented on #21
I doubted for like 10 minutes; but yes, it works.

[2020-11-27 22:28] rjhilgefort commented on #21
Works for me!

[2020-11-27 22:28] #21 closed

[2020-12-03 03:48] iynaix opened #22 "Multiple master layout?"
[code]

Might be a weird request, but i am using an ultrawide and this would be awesome. :D

[2020-12-03 13:43] indeedwatson commented on #10
You can do this with the default layout with `bspc config initial_polarity first_child`, I have been using that setting forever.

Unfortunately, combining that option with this script, all it does is makes it so the new window spawns at the top slave instead of the bottom one.

[2020-12-04 11:05] FollieHiyuki opened #23 "Using Makefile instead of install script"
This will make it easier for a packager (and users) to control how things go into the system (through flags), instead of accepting the hard coded settings (man page path, binary path, ...).

[2020-12-04 13:35] phenax commented on #23
I agree. I've had this on my mind for some time. I'll work on this.

[2020-12-05 11:03] AnoRebel opened #24 "Fail to install with curl install script"
I'm on the latest Linux Mint version with `zsh` as my default shell.
I tried installing via the curl `install.sh` script but found that it fails due to syntax issues.
Since the script is piping to `sh`, and it seems(atleast in my system), `sh` doesnt support some bash syntax.

For a fix I changed the `sh` to `bash` and everything went.
I'm not sure if it's still relevant now as the new installatio

[2020-12-05 11:06] phenax commented on #24
Thanks for letting me know! I've updated the readme

[2020-12-05 11:06] #24 closed

[2020-12-06 07:43] FollieHiyuki commented on #23
Thanks for the quick response. I see you made the Makefile. Here is my preference, correct me if I'm wrong:
- Using `/usr/local` as the default PREFIX is probably preferable
- We can use `cp -rf` and `ln -sf` so that doing an uninstall before installing is not needed
- `chmod 755` is better than `chmod +x` (though they do the same thing here)
- Small typo: `echo "Unstalled bsp-layout"`

[2020-12-06 08:30] phenax commented on #23
Thanks a lot for the suggestions! I'll add that in.
Currently the aur package is still using the `install.sh` script which internally uses the makefile. This is because I need to sort out the source import path inside the scripts first. I'll close this issue once that is done.

[2020-12-06 08:52] FollieHiyuki commented on #23
Please ping me and make a release when you are done with it. I'll be happy to package this for Void Linux.

[2020-12-16 16:28] phenax commented on #23
@FollieHiyuki, applied your suggestions. I've released 0.0.8 on github (Will create an AUR release tomorrow). The makefile now works with alternate prefixes.

[2020-12-16 16:36] PoSayDone commented on #12
Any news?

[2020-12-16 16:49] PoSayDone commented on #12
Found ultra tricky hack. I'm absolutely sure that is very stupid, but it works.
Just add your layout command in sxhkd:
[code]

[2020-12-16 16:53] phenax commented on #12
I haven't been able to make time for this yet. But I have a solution for it, similar to the one @PoSayDone mentioned with sxhkd. The idea is to subscribe to `desktop_focus` and re-running the layout. If anyone wants to pick this up, feel free otherwise I'll do it myself when I get some free time.

[2020-12-16 22:26] FollieHiyuki commented on #23
Nice. I think we can close this issue.

Looks good now.

[2020-12-17 03:36] #23 closed

[2020-12-17 17:06] FollieHiyuki commented on #23
Hi again @phenax . I only noticed some problems when trying to package this. Can you fix the makefile?

Update the version here?

The ${DESTDIR} is redundant here, which leads to problem when packaging using a fake $DESTDIR path.

And also can you bump to version 0.0.9 or something after fixing? That would be nice.

[2020-12-17 17:18] phenax commented on #23
Oops. My bad. I've released `0.0.9`

[2020-12-17 19:41] FollieHiyuki commented on #23
You still forgot to bump the version in the makefile :)
It doesn't affect anything so no need to fix immediately. It builds correctly now, thanks for fast response

[2021-01-24 09:40] thielblz opened #25 "Trying to set grid once actually sets rgrid"
`bsp-layout once grid`
does the same as
`bsp-layout once rgrid`
and not the same as
`bsp-layout set grid`
as I suppose it should.

[2021-04-01 05:17] aztecrabbit opened #26 "Ignore floating or hidden window"
I have floating and hidden window, can you resize the parent of the floating or hidden window to match to the other one? like this

Tiled

[code]

Floating or Hidden

[code]

What i want

[code]

[2021-04-10 08:08] phenax opened #27 "Looking for maintainers"
I started this project was because an optional ability to have dynamic layouts was the only piece I found missing from my bspwm workflow. One day, while browsing reddit, I found a script that was exploring tiling layout with bspwm. I used it in my workflow and start playing around with it. Eventually I thought I should move it out of my dotfiles turn it into it's own project which I did and from t

[2021-04-22 02:14] darkelectron commented on #27
Hi! Would like to help out in maintaining.

I could pick up any of these, except the last one.

[2021-04-23 17:32] phenax commented on #27
@darkelectron, sounds great! We have a few bugs and feature requests already in queue which you could pick up. Let me know if you need any help.

[2021-05-04 17:43] maetthew opened #31 "Second windowed open becomes Master with "rtall" layout"
Hi,

Thanks for this project. I noticed something peculiar with the "rtall" layout in that the second opened window overtakes the Master window position. Moving the one single window I had opened be put in the "tall" stack. Any subsequent windows opened opens as expected.

I'll see if I can manage to solve this, but if not I thought I'd make an issue here.

[2021-05-10 07:54] phenax commented on #31
@darkelectron, can you check this out?

[2021-05-31 12:17] AP2008 opened #34 "Error: Unknown Setting "automatic_scheme""
I installed `bsp-layout` on `Ubuntu 18`. I try running `bsp-layout set grid` and this is the output:
[code]
It also does not seem to be working as the windows still get arranged in the default layout.

[2021-05-31 15:50] AP2008 commented on #34
My bad! I checked and found out that my bspwm version was 0.9.3. This is the latest version available in the Ubuntu 18 package repository. So, I built bspwm from source. And, it works now. Great project!!!

[2021-05-31 15:50] #34 closed

[2021-08-12 17:04] addy419 opened #35 "incorrect master size"
bspwm 0.9.10
bsp-layout 10-05-2021 commit

bspwmrc:
[code]
These are 2 terminal windows in tall layout (one is too small, highlighted on the left)

![image](https://user-images.githubusercontent.com/44126901/129238145-4cfdd222-ef27-4333-8238-331d48008ed6.png)

[2021-12-23 11:59] SafwanLjd opened #38 "AUR version is out of date"

[2021-12-30 23:28] gianmarcogg03 opened #39 "Script applies also to floating windows"
I'm using bspwm on Arch Linux and when I have a desktop set to the tall layout and open more than one floating window, the previous one gets squished weirdly as if it was tiled and the script wanted to resize it. The script's functionality should be limited only to tiled windows.

[2022-04-01 00:22] hamensman commented on #1
I hope this hasn't died. It would be a really cool addition.

[2022-04-01 13:30] hamensman opened #40 "Replace "bsp-layout cycle" with "bsp-layout {next,prev}"?"
I think the `cycle` parameter should be replace with `next` and `prev` - much like in other default commands.

So I could do something like:
[code]
Really, `bsp-layout next` would do the same thing as the existing `bsp-layout cycle`, but with the added option of going **back** a layout with `bsp-layout prev`.

If this feature already exists, feel free to close this issue.

[2022-05-04 18:18] totoroot commented on #35
There might be an issue with the package on NixOS then, since I ran into the same issue on NixOS 21.11...

[2022-05-05 18:24] totoroot commented on #35
@addy419 @b4sqss I have actually found the issue with the NixOS package and am happy to report that [my fix got merged into nixpkgs](https://github.com/NixOS/nixpkgs/pull/171569/files) today. You should soon be able to install it from unstaged channel.

The affected layouts (tall, rtall, wide, rwide) did not work because, while `bc` was correctly packaged, it needed to be replaced in the layout sc

[2022-05-06 06:29] #35 closed

[2022-06-06 15:52] a2n-s commented on #27
Hi @phenax :wave:

I just discovered your project, which I found really cool, as I enjoy `bspwm` soooo much :star_struck:

Is the repo still maintained and do you still need help? :yum:

[2022-06-08 17:02] a2n-s commented on #27
Oh crap... I hope it's not too late :cry:

seing such a cool project, not small enough to be negligeable and not big enough to be overwhelming, with issues, pull requests to be addressed, packages to be.. well packaged! :yum:, I'm willing to help the community sooo badly :open_mouth:

:arrow_right: @phenax, if you still would like to see this project alive,
:arrow_right: @darkelectron if your're s

[2022-06-11 15:40] phenax commented on #40
Fixed in #41

[2022-06-11 15:40] #40 closed

[2022-06-11 16:50] phenax commented on #27
@a2n-s Unfortunately, I haven't been able to spend time on this project so definitely could use as much help as I can get. Let me know which one of the responsibilities listed, will you be able to pick up

[2022-06-11 17:08] phenax commented on #39
Duplicate of #26

[2022-06-11 17:08] #39 closed

[2022-06-11 17:51] #25 closed

[2022-06-11 17:52] phenax commented on #25
Thanks for reporting this issue. Sorry about the delay.

[2022-06-11 19:20] phenax commented on #38
Sorry about the delay. Just released `0.0.10`. Please let us know if you face any issue.

[2022-06-11 19:20] #38 closed

[2022-06-12 17:22] a2n-s commented on #27
it is great to hear from you @phenax :relieved:

no pressure at all, it's normal if you do not have the time after all :wink: i was just a bit worried about the project :cry:

to be honest, i'm not comfortable with the last item as i simply do not know how to do that at all... i'm much more familiar with the AUR and `PKGBUILD`s in general and there is the install script for non-Arch-based systems,

[2022-06-12 17:53] phenax commented on #27
That is alright. Currently, only the arch package is handled by me. The others are being maintained by the community. Also, I'm on nixos so I'll probably try to become a maintainer for the nix package sometime soon.

Sounds good!

Yes. It'll be a lot easier to look after each issue individually.

Regular old merge commits. It's better to have a true history imo.

For now, I'll have to manage the m

[2022-06-12 19:39] a2n-s commented on #27
ohhhh I see, so let's keep on maintaining the Arch package and maybe the nixos one on our side :+1:

perfect! :blush:

100% agree :ok_hand:

okey, that's what I saw in the current tree of the project and that's fine :slightly_smiling_face:

yes of course! so i'll ping you when i think a merge can be performed :muscle:

amazing! looking forward to it :tada:

[2022-06-16 16:57] a2n-s commented on #1
Hi @pjvds and @hamensman! :wave: :yum:

this hasn't died :muscle:

i'm not quite ready to start implementing that on my own, but i'll come back to you shortly :ok_hand:

[2022-06-16 17:00] a2n-s commented on #10
Hi @Cyberdr3am :wave:
`bsp-layout` is back :muscle:

if you've still got interest in that feature and/or news from your side, please let me know and we'll see what can be done :wink:

[2022-06-16 17:03] a2n-s commented on #12
Hi @paum3 and @PoSayDone :wave:

this issue hasn't died!

i'll investigate #32 and come back to you shortly :yum:

[2022-06-16 17:06] a2n-s commented on #20
Hi @rsmith31415 :wave:

according to the still unmerged PR #32, your issue hasn't been yet addressed. i'll have a look shortly :yum:

[2022-06-16 17:07] a2n-s commented on #22
Hi @iynaix :wave:

that would be a nice feature to have in `bsp-layout`! :tada:

i'll investigate that and come back to you shorly :wink:

[2022-06-16 17:11] a2n-s commented on #26
Hi @aztecrabbit :wave:

i'll have a look at that shortly and try to reproduce the bug :ok_hand:

[2022-06-16 17:35] a2n-s opened #43 "reloading bsp-layout with no layout raises an error"
I am testing out the script right now.

without any layout set with `bsp-layout`, running `bsp-layout reload` gives the following error:
[code]

i think it would be nice to have a proper error message for the user! :yum:

what about something like the following? :slightly_smiling_face:
[code]

[2022-06-16 17:51] a2n-s opened #44 "the once subcommand shows strange behaviour"
still testing the features of the script to understanding it better (@phenax note that my goal is not to open issues really, but to be able to solve the other ones and to tackle the PR reviews :wink:)

`bsp-layout once` appears to work quite well on the current desktop, but i get the following when trying to change `once` the layout on another desktop:

[code]
which looks suspiciously close to the

[2022-06-16 17:53] a2n-s commented on #44
And having a closer look at that, it looks like `bsp-layout once * 2` is working... but on the current desktop only!
'cause the layout is changing, but on desktop 5 instead of the expected 2.

According to the `man` page of `bsp-layout`, this looks like a bug to me :wink:

[2022-06-16 18:31] phenax commented on #44
I am unable to reproduce this issue from my end, can you confirm the script installed correctly and where all the files are installed?

[2022-06-16 19:03] a2n-s commented on #44
**+ `bsp-layout` package**:
i'm not able to get the version from `bsp-layout`
[code]
but
[code]

**+ the files**:
below all the files installed with `bsp-layout` as, if i understood well, they should all go in `/usr/`
[code]

[2022-06-16 19:04] a2n-s commented on #43
that is an appropriate priority level :yum:

[2022-06-16 19:16] amtoine opened #45 "bsp-layout won't reinstall after uninstall"
I was trying to look at which files were being installed with `bsp-layout` and `bsp-layout-git` through the AUR, see #44.
I tried to uninstall the packages and reinstall them to see the changes in `/usr/` but now i am not able to reinstall the packages anymore...

i'll investigate that further tomorrow and keep you up to date on that :+1:

[2022-06-16 19:44] a2n-s commented on #45
early investigation, that is strange

https://asciinema.org/a/nK01Us3Npbb0JO2icE7xxWiFn

**manual install**:
`sudo make install` works fine and results in
[code]
and `sudo make uninstall` works fine as well and gives
[code]

[2022-06-16 20:40] pjvds commented on #1
Great to read! Where can we donate? 💵

[2022-06-16 20:45] a2n-s commented on #1
still new to the team but, according to the overview of the _GitHub_ repo, you could donate
  - by clicking the :heart: at the top or next to the name of @phenax to the right
  - through [paypal](https://www.paypal.me/phenax)
  - by buying phenax [a coffee](https://www.buymeacoffee.com/phenax)

either way, that is really kind of you and really much appreciated :heart_on_fire:

[2022-06-18 10:19] a2n-s commented on #26
@aztecrabbit

i can reproduce that bug, even in the `tall` layout which is by definition supposed to do that.

@phenax, i think that floating and hidden windows should simply be ignored by the layouts of `bsp-layout` :thinking:

correct me if i'm wrong, but `bsp-layout` is really a TILLING-layout manager, right?

there's already 2 opened issues that mention the fact that floating, and here hidden,

[2022-06-18 10:34] a2n-s commented on #31
hi @maetthew

i think i've been able to reproduce the bug you mention [https://imgur.com/a/FY7u4KB](here). can you confirm that? :yum:

@phenax, are you ok if i work on that? :slight_smile:

[2022-06-18 10:42] a2n-s commented on #31
a workaround, not final solution by any means, is to manually tile the second window to the left or to the bottom :thinking:

[2022-06-18 10:57] maetthew commented on #31
@a2n-s Hi, I'm not using bspwm anymore so unfortunately can't check.

[2022-06-18 11:49] a2n-s commented on #31
no worries :yum:
that is still a bug that needs to be addressed :muscle:

if you happen to use `bspwm` again before the issue is closed, feel free to share thoughts here :wink:

[2022-06-18 21:07] a2n-s commented on #45
i did just launch a fresh virtual machine running a very bare install of ArchLinux, i.e. `base-devel`, `git` and `paru`.

`paru -S bsp-layout` does install the package and the script, i.e. `pacman -Q | grep bsp-layout`, `ls /usr/local/lib/bsp-layout` and `bsp-layout` show some level of results.

after a `paru -R bsp-layout`, the three commands above give errorsi, as expected.

however, even with a

[2022-06-19 09:02] a2n-s commented on #45
i think `bsp-layout` and `bsp-layout-git` do not uninstall properly with the `PKGBUILD`s

on the VM above, after `paru -R bsp-layout[-git]`, i have an empty `pacman -Q | grep bsp-layout` output
however, when reinstalling, `paru` tells me
[code]
or
[code]

that looks quite supsicious to me :thinking:

any idea @phenax? could that be the use of the `install.sh` script in the `PKGBUILD`s of `bsp-layo

[2022-06-19 09:04] phenax commented on #45
Not sure. I'll look into this as well

[2022-06-19 09:08] a2n-s commented on #45
thanks a lot :yum:

not a huge deal as `sudo make install` and `sudo make uninstall` work just fine :wink:
but the fact that i get the exact issue in a VM looks like a bug :thinking:

[2022-06-19 11:40] phenax commented on #45
@a2n-s, I've created a bsp-layout-git 0.0.11 testing out a change. I saw that the path for uninstalling the source was wrong. Can you check if this issue is fixed in bsp-layout-git?

[2022-06-19 11:48] phenax commented on #26
Yes. I remember trying to work on this a while ago but had a lot of buggy behavior for the filters. See if you can take this on.

[2022-06-19 11:52] a2n-s commented on #45
@phenax

yes i see that in the `diff` of the `PKGBUILD` :+1:

still not reinstalling, both on my personal machine and on a VM :thinking:
i get the same `skipping build` thing

[2022-06-19 11:55] a2n-s commented on #45
the thing is that the package, i.e. the object in the package tree of `pacman` is tracked, installed and removed correctly.
files are installed and removed once without any issue!
it's during following installs that the files are not installed anymore :thinking:

[2022-06-19 11:56] a2n-s commented on #45
can you reproduce that bug @phenax? :yum:

[2022-06-19 11:57] a2n-s commented on #26
gotcha :wink:

[2022-06-21 20:06] a2n-s commented on #20
if #32 does not update during the week, the PR will be taken down and i'll start working on that :ok_hand: :wink:

[2022-06-22 15:22] lictw opened #49 "Can't create autostart layout"
**Sub-command `once` didn't work at other desktop**
![image](https://user-images.githubusercontent.com/11904484/175064118-7a9da000-9670-4379-b27b-f62993580def.png)

**Very interesting behaviour**
At desktop 1 i enter these commands:
[code]
After that desktop 6 looks (no layout):
![image](https://user-images.githubusercontent.com/11904484/175065138-c6910802-d41c-4e0d-9b6c-7118bd10d518.png)
After th

[2022-06-22 17:16] phenax commented on #49
@lictw, Thanks for reporting the issue. Could you try `bsp-layout-git` AUR package and let us know if this issue exists there as well?

[2022-06-22 17:21] a2n-s commented on #49
hi @lictw :yum:

this looks like a duplicate of #44 to me :thinking:

i am not able to reproduce that behaviour... see [this](https://imgur.com/a/cAwuNJS)
and i'm using
[code]
installed with `sudo make install`

and in addition to what @phenax just said, too quick for me... could you try to install the script manually? :yum:

[2022-06-22 22:27] lictw commented on #49
Yes, i did.

And AUR `bsp-layout-git` (version 0.0.10) and manual (version 0.0.10-1) the same issues.. Error when `once` and `set` start to work only after new node at current&target desktop.

[2022-06-23 04:57] phenax commented on #49
My bad. I misunderstood the issue. Seems like this is related to #12. Desktops that aren't in focus don't get layout applied to them. From what I remember, calculating layout for an inactive desktop is a bit complicated. A good middleground as I mentioned in that issue will be to listen to `desktop_focus` event and recalculate then.

The problem with that however is that `once` doesn't listen to t

[2022-06-23 04:59] phenax commented on #44
@a2n-s let me know if #50 fixes this

[2022-06-23 09:37] lictw commented on #49
With 'set' i don't have time to notice how layout applies at switch - very fast, like it works in background.

[2022-06-23 17:04] a2n-s commented on #49
@lictw

yep, sorry about that, i am able to reproduce that error :+1:

[2022-06-23 18:03] a2n-s opened #51 "Add templates for bug reports and feature requests"
I would like to add templates when opening issues, mainly for two reasons:
- help people write issues easily
- auto-label the issues

i think we could get inspiration from the issue tracker of [doomemacs/doomemacs](https://github.com/doomemacs/doomemacs) which is very cool!
ours would be greatly simplified to fit the needs of `bsp-layout` :yum:
- i think the sections and the required ones are sens

[2022-06-24 09:45] phenax commented on #51
Sounds good. We get started with a basic template.

[2022-06-24 09:49] a2n-s commented on #51
cool :yum:

will propose a first version of that soon :+1:

[2022-06-24 18:03] #49 closed

[2022-06-24 18:03] #12 closed

[2022-06-24 18:03] #44 closed

[2022-06-25 17:47] #51 closed

[2022-06-25 19:45] a2n-s opened #54 "Make the name of the command more consistent with the base project"
### Describe your request

In the base project before `bsp-layout`, we have the _**B**inary **S**earch **P**artitioning **W**indow **M**anager_ (the `bspwm` package) and the _**B**inary **S**earch **P**artitioning **C**ontroller_ (the `bspc` command).

I would like to ship the `bspl` command, i.e. the _**B**inary **S**earch **P**artitioning **L**ayout manager_ command, to be more coherent with the

[2022-06-25 19:50] a2n-s opened #55 "Use the full switches and flags of the `bspc` command"
### Describe your request

Before moving on to the [3 opened `priority:high` issues](https://github.com/phenax/bsp-layout/issues?q=is%3Aopen+is%3Aissue+label%3Apriority%3Ahigh), i wanted to make the code base slightly easier to work with, at least according to me :yum:

Currently, the `bspc` command is mostly used with the reduced forms of its flags and switches, e.g. `bspc query -T -m` instead of

[2022-06-25 20:01] amtoine opened #56 "Add complete documentation to all the functions and files"
### Describe your request

Before moving on to the [3 opened `priority:high` issues](https://github.com/phenax/bsp-layout/issues?q=is%3Aopen+is%3Aissue+label%3Apriority%3Ahigh), i wanted to make the code base slightly easier to work with, at least according to me :yum:

Right now, some of the functions and files of `bsp-layout` are missing documentation.

I would like to add:
- comments on some pa

[2022-06-26 08:56] a2n-s opened #57 "The `bsp-layout` _listener_ prints empty lines to `stdout`"
### What did you expect to happen?

When i run `bsp-layout {subcommand}` especially `bsp-layout set`, i expect the command to either (1) print nothing to `stdout` if nothing has to be printed or (2) print useful information.

### What actually happened?

When i run `bsp-layout set tall 2`, on first monitor, from desktop `4`, on second monitor, and switch to desktop `2`, `bsp-layout` prints empy li

[2022-06-28 13:53] phenax commented on #56
I think a more compact signature would be better along with a couple of lines explaing the code if necassary. docstring-style imo is way too verbose and fogs up the code a bit. Also, in some cases, it'll be better to rename the function to be self-explanatory instead of adding 4 lines in the comments explaining what it does.

[2022-06-28 15:26] a2n-s commented on #56
i can propose something in a PR if that's ok with you :blush:

yep agree on that :ok_hand:

[2022-07-06 11:12] totoroot opened #59 "New layout: symmetrical tall (for ultrawide screens)"
### Describe your request

Similar to issue #22 I would like to have an additional layout for my ultrawide screen, where the main column is in the center and remaining windows get arranged symmetrically to the left and right.

Since I'm quite familiar with the code base I will probably tackle this myself, but wanted to open an issue, so others looking for something similar can find it and so I can

[2022-07-06 15:18] #59 closed

[2022-07-10 09:56] a2n-s commented on #20
Hi @rsmith31415 and hi @phenax :yum:

with `0.0.10-1` either installed locally or with `sudo make install`, i'm not able to reproduce that behaviour :thinking:

i followed the exact steps you gave in your original comment, but the floating window does not move at all.
i even tried to remove the other windows in some random order to see if the floating one could try to replace one of them but i was

[2022-07-10 10:03] a2n-s commented on #20
[here](https://imgur.com/a/q1Vh5t7) is what i was able to do :confused:

[2022-07-10 10:13] a2n-s commented on #26
hi @aztecrabbit and @phenax :wave:

the fun thing is that i'm not able to reproduce that with `0.0.10-1` :thinking:

[here](https://imgur.com/a/xaoRUzT) is what i get with, i believe, the setup that lead to your issue @aztecrabbit, right? :confused:

can any one of you two confirm this issue in `0.0.10-1`? :yum:

[2022-07-18 04:26] aztecrabbit commented on #26
Sorry, i can't test this project right now, i'm not using bspwm anymore. If version `0.0.10-1` is fixed for hidden mode too (i see only floating in your gif), this issue have been fixed then

[2022-07-19 15:41] a2n-s commented on #26
yup you're right, i kinda forgot about them :wink:

[here](https://imgur.com/a/rSPRr7T) is the same clip as above but with a hidden window :+1:
and i think it does what you wanted back when you opened this issue, right? :thinking:

i think i'll close this issue :confused:
i would have liked to help, but that'll be a bit hard without being able to reproduce anything...

no worries :yum:
i you happe

[2022-07-19 15:41] #26 closed

[2022-07-31 19:17] Spaxly opened #63 "Centeredmaster layout from DWM"
### Describe your request

The centered master layout would be really cool and useful for bsp-layout and isn't in many window managers except for awesome and DWM.

### Briefly explain its use-case

1. Install bsp layout
2. bsp-layout set centeredmaster

[2022-07-31 19:33] Spaxly commented on #1
Any update on this?

[2022-07-31 19:34] #63 closed

[2022-08-01 16:48] zakariaGatter opened #64 "Remove the `;` at the end of the lines (just a question)"
i used `bsp-layout` and i love it

after checking the source code i find out that you use `;` at the end of the line

But bash don't need it. So i want to ask you to create a `pull request` to improve the script

thank you again

[2022-08-01 16:57] amtoine commented on #64
hi @zakariaGatter :wave:

glad you like the project :relieved: :star_struck:

you are right on that :thinking:
and there might be lines missing the `;` at the end too... :confused:

just being curious, is there a rule or a standard pushing people not to use `;` at the end of the lines? :yum:

i can submit something for sure and see if @phenax is up with merging that in the code base :wink:

[2022-08-01 17:00] #56 closed

[2022-08-01 17:03] amtoine commented on #1
@Spaxly

actually, not really for now :thinking:
this issue is marked as `priority:low`, so not at the top of the TODO list :confused:

if you would like to see that feature soon though, feel free to try things out, open a PR and ask any question about the code base here!
i'd try my best to help you and would be more than happy to see a new layout :yum:

[2022-08-01 17:05] zakariaGatter commented on #64
no there is no standerd just to make script look clean and not confuse newcomers

Also `;` only used if you want to Execute Two Commands in the same line so add it at the end is pointless

if you want i can do the changes and made a `pull request` and if not satisfied we can ignore it

[2022-08-01 17:18] amtoine commented on #64
looks sensible to me :ok_hand:

i'm almost done with it, do not worry with that :wink:

[2022-08-01 17:21] amtoine commented on #64
And there it is :wink:

do not hesitate to point out `;` i could have missed :+1:

[2022-08-02 08:38] zakariaGatter commented on #64
what you did is wanderful everything look good and clean 👍🏻

[2022-08-02 16:07] #64 closed

[2022-08-14 15:17] datsfilipe opened #67 "Add output in terminal for all layout changes"
### Describe your request

Currently, when switching between all available layouts, some of the operations shows the change information in terminal output, such as "tiled:monocle", but some layout changes do not show this information in the terminal.

### Briefly explain its use-case

1. Adding this feature will help in creation of better custom scripts for users, like adding notifications for cha

[2022-08-14 15:25] datsfilipe commented on #67
I was wrong, it shows output for every change, just take little long at some of them.

[2022-08-14 15:25] #67 closed

[2022-08-18 10:28] amtoine commented on #67
no worries :wink:
feel free if you find something that looks odd :+1:

[2022-08-31 06:30] MikaelElkiaer commented on #31
Can I piggyback on this issue? I have another small issue with `rtall` specifically, it does not do the horizontal split initially.

If I go to a desktop where I haven't applied any layout yet, and then apply rtall, it only resizes columns and does not apply any horizontal split. However, if I do another layout first, e.g. `tall`, that will correctly do columns and rows split and resize, and then

[2022-09-04 03:06] darkelectron commented on #43
I think the error message might be too long. How about:

[code]
If more info is required, like the tmp file path, verbose (does not exist yet) can be used.

[2022-09-04 09:51] amtoine commented on #31
hi @MikaelElkiaer :wave:

i'm not sure i am able to reproduce the issue you mention :thinking:

i open a bunch of windows on workspace 3 with the default "stair case" layout and then run `./build/bin/bsp-layout set rtall 3` from there and the layout applies correctly, with all the splits to the left and the master to the right!

### suggestions
please share the following
1. the version of `bsp-lay

[2022-09-04 09:53] amtoine commented on #43
@darkelectron

yes you're right :thinking:

i like the idea of the `--verbose` flag :+1:

[2022-09-05 10:36] MikaelElkiaer commented on #31
@amtoine Thanks for getting back to me, here is some more info:

1. `0.0.10`
2. Installed via AUR package `bsp-layout`
3. I run it via rofi: `bsp-layout layouts | rofi -dmenu | xargs bsp-layout set`
4. I only experience it after a reboot, and for the first desktop where I try to switch layout to `rtall`. This is my usual flow for when it happens:
    1. Reboot OS and start bspwm with no desktops/w

[2022-09-08 08:46] amtoine commented on #31
hey @MikaelElkiaer

that's the purpose of me being here :wink: :yum:

## The steps to reproduce
i did follow all your steps with both the `0.0.10-1` version from the AUR and the locally built `git` version from the repo
and i'm not able to reproduce the behaviour :thinking:
i did reboot twice, did nothing but open 3 windows in desktop 1, ran your command with `rtall` and the windows are split hori

[2022-09-18 00:59] ohxxm commented on #1
It would be great if this was bumped up to a more higher priority level.

[2022-09-18 10:24] amtoine commented on #1
this is not a bug and a pretty exotic layout, hence the "priority:low" label :thinking:

i might be talking in the name of @phenax but **we would be very happy to welcome contributions on this** if there is a need for this new layout :yum :star_struck:
i personnaly just do not have the time to work on this... :cry:

[2022-09-20 10:14] MikaelElkiaer commented on #31
@amtoine Thanks for trying it out. There seems to be some timing involved as well, and I cannot reproduce it consistently. I will look into it at a later stage - only bothers me after a reboot.

[2022-09-20 16:46] amtoine commented on #31
feel free to give us updates on this if you find something :wink:

[2022-09-24 13:29] ohxxm commented on #1
This layout can be played around with using the rgrid code and editing it accordingly, I will start testing this out and will give updates if I can get it working or any issues.

[2022-09-24 13:48] amtoine commented on #1
thanks a lot @Spaxly :relieved:

[2022-10-16 07:14] Cyberdr3am commented on #10
Hi @amtoine

Yes i am still interest in that feature. If you can do it. I whant to use it with Master-stack rtall.
Thx.

[2022-10-18 09:54] f-ell commented on #57
For the `set`-subcommand, this is caused by the fall-through `case` in the layout's option processing and affects all layouts that take options (i.e. all but `even`, `grid`, and `rgrid`).

The fall-through echoes a non-assigned variable `x` and an additional newline - see **`tall.sh`, l. 16** for an example of the code in question. Repeated printing happens every time `__recalculate_layout` and th